.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
public/storage
public/hot
public/build
*.log
.DS_Store
docker-compose.yml
Dockerfile
README.md
tests
.phpunit.result.cache
